.container{
    width: 100%;
    height: 100vh;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin-bottom: 20px;
  color: #333;
}
.submit{
    justify-content: center;
     background-color: aqua;
   
     display: flex;
}